/* SI NO ANDA BORRAR ENTERO - PREFERIBLE QUE LA FOTO SE PASE QUE QUE ESTE TODA ESTIRADA */

.imagenRec {
  margin: auto auto;
  height: 24rem;
  width: auto;
  max-width: 44rem;
}

.imagenRec2 {
  margin: auto auto;
  width: auto;
  height: 20rem;
  max-width: 37rem;
  /* max-height: 44vh; */
  /* object-fit: cover; */
}

.imagenCat {
  margin: auto auto;
  width: auto;
  height: 20rem;
  max-width: 35rem;
}

.imagenEle {
  margin: auto auto;
  width: auto;
  height: 13rem;
  max-width: 21rem;
}
