.BotonNavbar {
  outline: none !important;
}

.Barra {
  background-color: #b388eb;
}

.nav-link {
  color: #f4f4fa !important;
  border-radius: 2rem;
  transition: 0.1s ease-in-out;
}

.nav-link:hover {
  background-color: #f4f4fa !important;
  color: #b388eb !important;
}

.nav-link:active {
  color: #f4f4fa !important;
  background-color: #b388eb !important;
}

.blancoo {
  color: #f4f4fa !important;
}
