.CajaB1 {
  color: #393939 !important;
  border-radius: 2em !important;
  border: 0.6rem solid #8093f1 !important;
}

.CajaB2 {
  color: #393939 !important;
  border-radius: 2em !important;
  border: 0.6rem solid #fdc5f5 !important;
}

.CajaB3 {
  color: #393939 !important;
  border-radius: 2em !important;
  border: 0.6rem solid #aff0a5 !important;
}

.CajaB3 {
  color: #393939 !important;
  border-radius: 2em !important;
  border: 0.6rem solid #aff0a5 !important;
}

.CajaB4 {
  color: #393939 !important;
  border-radius: 2em !important;
  border: 0.6rem solid #fdd2f7 !important;
}
